@import '~antd/dist/antd.css';
.links{
  padding: 20px 0;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  .navigate{
    margin-right: 30px;
  }
}

@media screen and (max-width: 1200px){
  .links{
    padding: 0 15px;
  }
}
